/*
    https://codepen.io/Mobius1/pen/ZNgwbr
*/

$screen-background: #121010;

@mixin fill {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}

.vignette {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png);
  @include fill;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  z-index: 10000;
}
.scanlines {
  @include fill;
  z-index: 9999;
  background: linear-gradient(
      transparentize($screen-background, 1) 50%,
      transparentize(darken($screen-background, 10), 0.75) 50%
    ),
    linear-gradient(
      90deg,
      transparentize(#ff0000, 0.94),
      transparentize(#00ff00, 0.98),
      transparentize(#0000ff, 0.94)
    );
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
